<%= form_for([@book, @book.comments.build], :html=>{:class=>:ajax, :'data-append'=>'#comments'} )  do |f| %>
  <div class="field hide">
    <div><%= f.label :commenter %></div>
    <%= f.text_field :commenter, :value=>current_user.nickname %>
  </div>
  <div class="field">
    <%= f.text_area :body, :size=>'60x3' %>
  </div>
  <div class="actions">
    <%= f.submit :value=>'提交评价', :class=>:btn %>
  </div>
<% end %>
