
<% @book.tags.build %>

<%= form_for @book, :html => { :multipart => true, :class => 'form-horizontal ajax', :'data-replace'=>'#book_new_notice' } do |f| %>


  <div class="control-group">
    <%= f.label :isbn, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :isbn, :class => 'text_field book_isbn' %><span id="book_new_notice"></span>
    </div>
  </div>

  


  


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                books_path, :class => 'btn' %>
  </div>
<% end %>
