<%- model_class = Book -%>
<div class="page-header">
  <h1 id="bookName"><%= @book.name %></h1>
</div>


<div class="media">
  <a class="pull-left" href="#">
    <%= image_tag @book.cover.url(:large) %>
  </a>
  <div class="media-body">
	
	<dl class="dl-horizontal">
  

	  <dt><strong>作者:</strong></dt>
	  <dd><%= @book.author %>&nbsp;</dd>


	  <dt><strong>出版社:</strong></dt>
	  <dd><%= @book.publish_by %>&nbsp;</dd>

	  <dt><strong>出版日期:</strong></dt>
	  <dd><%= @book.publish_year %>&nbsp;</dd>

	  <dt><strong>页数:</strong></dt>
	  <dd><%= @book.pages %>&nbsp;</dd>

	  <dt><strong>定价:</strong></dt>
	  <dd><%= @book.price %>&nbsp;</dd>

	  <dt><strong><%= model_class.human_attribute_name(:isbn) %>:</strong></dt>
	  <dd><%= @book.isbn %></dd>



	  <dt><strong>简介:</strong></dt>
	  <dd><%= simple_format h(@book.description) %></dd>

	  <dt><strong>Tags:</strong></dt>
	  <dd><%= join_tags(@book) %></dd>
	  
	  
	  
	</dl>
	
	
    
    
  </div>
</div>



<dl class="dl-horizontal">

  <dt><b>谁有这本书:</b></dt>
  <dd>
    <% @book.users.each do |user|
	

	
	if user.id != current_user.id
	
	%>

	<div class="btn-group">
	  <a class="btn dropdown-toggle btn-success btn-mini" data-toggle="dropdown" href="#">
	    <%= user.nickname %> 
	    <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu btn-mini">
	    <li><a href="/profile/<%= user.id%>">查看<%= user.nickname %>的资料</a></li>
		
		<li><a href="#" class="requestbook" user_id="<%= user.id %>" nickname="<%= user.nickname %>" data-toggle="modal">向<%= user.nickname %>借阅</a></li>
	
	  </ul>
	</div>


    <%end
    end %>
  </dd>
</dl>

<dl class="dl-horizontal">  
  <dt><b>评价:</b></dt>
  <dd id="comments">
	  
	<% if @book.comments.length<1 %>
	还没有评论，抢沙发吧
	<%end%>
    <%= render @book.comments %>&nbsp;
  </dd>
  
  <dt><b>发表评论:</b></dt>
  <dd><%= render "comments/form" %></dd>
  
</dl>
<div class="modal hide" id="delCommentModal">

    <div class="modal-header">
        <button class="close" data-dismiss="modal">x</button>
        <h4>确定删除这条评论吗？</h4>
    </div>
<!--
    <div class="modal-body">
        <p><img scr="URL"> Any HTML elements. </p>
    </div>
-->
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button id='btnDelComment' class="btn btn-primary">Delete</button>
    </div>
</div>

<div class="modal hide" id="requestbookModal">

    <div class="modal-header">
        <button class="close" data-dismiss="modal">x</button>
        <h4 class="modalTitle">向xxx借书</h4>
    </div>

    <div class="modal-body">
		
        <p> <textarea style="width:500px;height:50px;" id="requestbooktxt"></textarea> </p>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">取消</button>
        <button id='btnsend' class="btn btn-primary">发送请求</button>
    </div>
</div>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              books_path, :class => 'btn'  %>
  
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              book_path(@book),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
