<%- model_class = User -%>
<div class="page-header">
  <h1><%= @user.nickname %></h1>
</div>

<dl class="dl-horizontal">
  
	<% if @user.head %>
  <dt><strong></strong></dt>
  <dd><%= image_tag @user.head %></dd>
  <% end %>
  <dt><strong>爱好特长:</strong></dt>
  <dd>IT 写作 体育</dd>
  
  <dt><strong>Email:</strong></dt>
  <dd><%= @user.email %>&nbsp;</dd>
  
  <dt><strong>活跃度:</strong></dt>
  <dd><%= @user.sign_in_count %>&nbsp;</dd>
  
  <dt><strong>注册时间:</strong></dt>
  <dd><%= @user.created_at %>&nbsp;</dd>
  
  <dt><strong>最近活跃于:</strong></dt>
  <dd><%= @user.last_sign_in_at %>&nbsp;</dd>
  
  <dt><strong>Ta的书:</strong></dt>
  <dd>
	  <% 
	  i = 0
	  @user.books.each do |book| 
	    i=i+1  
	  %>
	  
	  <div style="width:140px;float:left;" align="center">
		<div><%= link_to (image_tag book.cover.url(:medium)), book_path(book) %></div>
		<div><%= link_to book.name, book_path(book) %></div>
	  </div>
	  
	  <% 
	  if i%5==0
		  %>
		  <div class="clearfix"></div>
		  <%
	  end
	  
	  end%>
	
  </dd>


  <% if @user.id== current_user.id && @RequestMyBooks.length>0 %> 
  <div class="clearfix"></div> 
  <dt>借书申请：</dt>
  <dd>

    <table style="width:700px;">
	<tr><td>书名</td><td>借阅人</td><td>申请时间</td><td>状态</td><td>说明</td><td>操作</td></tr>
    <% @RequestMyBooks.each do |r| %>
	<tr>
	<td><%= link_to r.user_book.book.name, r.user_book.book %></td>
	
	
	<td><i><%= link_to r.request_user.nickname, '/profile/'+r.request_user.id.to_s %></i></td>
	<td><%= l(r.created_at, :format=>:short)%></td>
	<td></td>
	<td><%= r.message %> </td>
	<td>
		<div class="btn-group">
          <a class="btn dropdown-toggle btn-success btn-mini" data-toggle="dropdown" href="#">
           处理 
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu btn-mini">
            <li><a href='#'>同意</a></li>
            <li><a href='#'>拒绝</a></li> 
          </ul>
        </div>

	</td>

	</tr>
    <%end%>  
    </table>

  </dd>
  <%end %>

  <% if @user.user_book_requests.count>0 %>
  <div class="clearfix"></div>
  <dt>借书纪录：</dt>
  <dd>

    <table style="width:700px;">
        <tr><td>书名</td><td>书主</td><td>申请时间</td><td>状态</td><td>说明</td></tr>
    <% @user.user_book_requests.each do |r| %>
        <tr>
        <td><%= link_to r.user_book.book.name, r.user_book.book %></td>
	<td><i><%= link_to r.user_book.user.nickname, '/profile/'+r.user_book.user.id.to_s  %></i></td>
        <td><%= l(r.created_at, :format=>:short)%></td>
        <td></td>
        <td><%= r.message %></td>

        </tr>
    <%end%>
    </table>

  </dd>
  <%end%>

</dl>
